<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">
    <test name="Test1">
        <classes>
            <class name="scs.TestClass1" />
        </classes>
    </test>
    <test name="Test2">
        <classes>
            <class name="scs.TestClass2" />
        </classes>
    </test>
</suite>